
{{#if breadcrumb}}
  <nav class="breadcrumb-nav">
    <ol class="breadcrumb-list">
      {{#each breadcrumb}}
        <li class="breadcrumb-item">
          {{#if @last}}
            <span>{{title}}</span>
          {{else}}
            <a href="{{path}}">{{title}}</a>
          {{/if}}
        </li>
        {{#unless @last}}
          <span class="breadcrumb-separator"> &gt; </span>
        {{/unless}}
      {{/each}}
    </ol>
  </nav>
{{/if}}
