<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Sala</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/sidebar.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
  </head>
  <body>
    {{#if showSidebar}}
      <div class="sidebar">
        <div class="sidebar-header">
          <h4>Simple Reserve</h4>
        </div>
        <ul class="sidebar-menu">


          <a href="/">
          <div>
          <li class="{{#if isAgenda}}active{{/if}}">
            <i class="bi bi-calendar-check"></i> <span>Minha Agenda</span>            
          </li>
          </a>
          </div>


        <a href="/reservasDoDia"></a>
        <div>
          <li class="{{#if isReservasDia}}active{{/if}}">
            <i class="bi bi-list-check"></i> <span>Reservas do Dia</span>
          </li>
          </a>
        </div>

          <a href="/novareserva">
          <div>
          <li class="{{#if isNovaReserva}}active{{/if}}">
            <i class="bi bi-plus-circle"></i> <span>Nova Reserva</span>
          </li>
          </a>
        </div>

           <a href="#">
          <div>
          <li class="{{#if isPesquisar}}active{{/if}}">
           <i class="bi bi-search"></i> <span>Pesquisar</span>
          </li>
          </a>
        </div>

        <a href="#">
          <div>
          <li class="{{#if isHistorico}}active{{/if}}">
            <i class="bi bi-file-earmark-text"></i> <span>Emitir Histórico</span>
          </li>
          </a>
        </div>

          <a href="#">
          <div>
          <li class="{{#if isConta}}active{{/if}}">
            <i class="bi bi-person-circle"></i> <span>Minha Conta</span>
          </li>
          </a>
          </div>



          <li class="{{#if isSair}}active{{/if}}">
            <a href="#"><i class="bi bi-box-arrow-right"></i> <span>Sair</span></a>
          </li>


          <div class="sidebar-divider"></div>
          <!--<span class="sidebar-title">Administração</span>-->

          <a href="/salas/gerenciarsalas">
          <div>
          <li class="{{#if isGerenciarSalas}}active{{/if}}">
            <i class="bi bi-folder-plus"></i> <span>Gerenciar Salas</span>
          </li>
          </a>
          </div>

          <a href="/salas/cadastrosala">
          <div>
          <li class="{{#if isCadastroSala}}active{{/if}}">
            <i class="bi bi-folder-plus"></i> <span>Cadastrar Sala</span>
          </li>
          </a>
          </div>


           <a href="/adm">
          <div>
          <li class="{{#if isGerenciador}}active{{/if}}">
           <i class="bi bi-gear"></i> <span>Gerenciador</span>
          </li></a>
          </div>
        </ul>
      </div>
    {{/if}}
    {{#if showLogo}}
      <div class="logoSala">
        <img
          src="/images/logoLogin.png"
          alt="Simple Reserve Logo"
          class="logofoto"
        />
      </div>
    {{/if}}
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous">
    </script>
  </body>
</html>