<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Reserve - Login</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
<body id="bodyLogin">
  <div class="login-container">
    <div class="login-box">
      <div class="logo">
        <img src="./images/logoLogin.png" alt="Simple Reserve Logo" class="logofoto">
      </div>
      <h2 class="bemvindo">Bem-vindo!</h2>
      <h2 class="bemvindo2">faça seu login</h2>
      <form id="login-form">
        <div class="input-group">
          <input type="email" placeholder="Digite seu e-mail" required>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Digite sua senha" required>
        </div>

        <div class="checkbox-group">
          <input type="checkbox" id="stay-connected">
          <label for="stay-connected">Mantenha-me conectado</label>
        </div>
        
        <a href='cadastroSala.html'><button type="submit" >Entrar</button></a>
        <div class="links">
          <p class="textoVerdeLogin">ou</p>
          <a href="#">Crie sua conta</a><br>
          <a href="#">Esqueceu a senha?</a>
        </div>
      </form>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
