<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Reserve - Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
<body id="bodyLogin" style="font-family: 'Poppins', sans-serif;">
  <div class="login-container">
    <div class="login-box">
      <div class="logo">
        <img src="./images/logoLogin.png" alt="Simple Reserve Logo" class="logofoto">
      </div>
      <h2 class="bemvindo">Bem-vindo!</h2>
      <h2 class="bemvindo2">faça seu login</h2>
      <form method="POST" action="/login">
        <div class="input-group">
          <input type="email" name="email" placeholder="Digite seu e-mail" required>
        </div>
        <div class="input-group">
          <input type="password" name="senha" placeholder="Digite sua senha" required>
        </div>

        
        <button type="submit">Entrar</button>
        <div class="links">
          <p class="textoVerdeLogin">ou</p>
          <a href="/cadastrousuario">Crie sua conta</a><br>
          <a href="/recuperar-senha">Esqueceu a senha?</a>
        </div>
        {{#if erro}}
          <div class="alert alert-danger">{{erro}}</div>
        {{/if}}
      </form>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
