<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Reserva</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/sidebar.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />

</head>
<body>

   <div class="formulario-reserva-sala">
        <h1 class="tituloSala">Cadastre uma Reserva</h1>
        <form id="formReserva" method="POST" action="#">
            <div class="formulario-ask">
                <label for="eventName">Nome do evento*</label>
                <input type="text" id="eventName" name="nome_evento" placeholder="Digite o nome do evento">
            </div>
            
            <div class="formulario-ask">
                <label for="eventDate">Data do evento*</label>
                <input type="date" id="eventDate" name="date">
            </div>
            
            <div class="formulario-ask">
                <label for="eventTimeStart">Hora início*</label>
                <input type="time" id="eventTimeStart" name="hora_inicio">
            </div>

            <div class="formulario-ask">
                <label for="eventTimeEnd">Hora fina*</label>
                <input type="time" id="eventTimeEnd" name="hora_final">
            </div>
            
            <div class="formulario-ask">
                <label for="observations">Observações</label>
                <textarea id="observations" name="obs" placeholder="Digite observações adicionais"></textarea>
            </div>

            <div class="formulario-ask">
                <label for="campusSala">Sala do campus*</label>
                <select id="campusSala" name="cod_salas">
                    <option value="">Selecione uma sala</option>
                    <option value="sala01">Sala 01 | Bloco A</option>
                    <option value="sala02">Sala 02 | Bloco A</option>
                    <option value="sala03">Sala 03 | Bloco B</option>
                    <option value="sala04">Sala 04 | Bloco B</option>
                    <option value="sala05">Sala 05 | Bloco C</option>
                </select>
            </div>

            <div class="divider"></div>
            
            <!-- Aqui pode entrar o aviso de sucesso/erro futuramente -->

            <div class="button-group">
                <button class="clear-btn" type="reset">Limpar</button>
                <button class="save-btn" type="submit">Salvar Evento</button>
            </div>
        </form>
    </div>

</body>
</html>