<div id="bodyCadastroUsuarios">
  <div class="login-container cadastro-container">
    <div class="login-box">
      <div class="logo">
        <img src="./images/logoLogin.png" alt="Simple Reserve Logo" class="logofoto">
      </div>
      <br>
      <h2 class="bemvindo">Recuperar senha</h2>
      <form method="POST" action="/recuperar-senha">
        <div class="input-group">
          <input type="email" name="email" placeholder="Seu e-mail" required>
        </div>
        <button type="submit" class="btn-cadastrar">Recuperar senha</button>
        <div class="links">
          <a href="/">Voltar ao login</a>
        </div>
        {{#if erro}}
          <div class="alert alert-danger">{{erro}}</div>
        {{/if}}
        {{#if sucesso}}
          <div class="alert alert-success">{{sucesso}}</div>
        {{/if}}
      </form>
    </div>
  </div>
</div>