<div class="container py-4 cadastro-bloco-tema">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header" style="background-color: #84925b; color: #fff; border-radius: 10px 10px 0 0;">
          <h2 class="mb-0"><i class="fas fa-building me-2"></i> Cadastrar Novo Bloco</h2>
        </div>
        <div class="card-body">
          <form id="blocoForm" action="{{#if bloco}}/editarBloco/{{bloco.id_bloco}}{{else}}/bloco{{/if}}" method="POST">
            <div class="mb-3">
              <label for="descricao" class="form-label">Nome do bloco</label>
              <input
                type="text"
                id="descricao"
                name="descricao"
                class="form-control"
                required
                placeholder="Ex: Bloco A, Bloco B, Bloco C"
                value="{{#if bloco}}{{bloco.descricao}}{{/if}}"
              />
            </div>
            <button type="submit" class="btn w-100" style="background-color: #84925b; color: #fff; border-radius: 10px">
            <i class="bi bi-floppy-fill"></i>   
           Cadastrar Bloco
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
