<div class="container">
  <div class="header">
    <div class="title-container">
      <h1><i class="fas fa-building"></i> Gerenciador de Blocos</h1>
        <a href="/adm/adicionabloco" class="btn-add" id="btnAddBloco" title="Adicionar bloco">
          <button class="btn-add" id="btnAddBloco" title="Adicionar bloco">
            <i class="fas fa-plus"></i>
          </button>
      </a>

    </div>
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Nome do Bloco</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#if blocos.length}}
          {{#each blocos}}
            <tr>
              <td>{{this.descricao}}</td>
              <td class="actions">
                <a href="editarBloco/{{id_bloco}}" class="btn-action btn-edit">
                            <i class="fas fa-edit"></i>
                            <span>Editar</span>
                        </a>
                        <a href="excluirBloco/{{id_bloco}}" class="btn-action btn-delete" >
                            <i class="fas fa-trash-alt"></i>
                            <span>Excluir</span>
                        </a>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr class="empty-message-row">
            <td colspan="2" class="empty-message">
              Nenhum bloco cadastrado. Clique no botão
              <i class="fas fa-plus"></i>
              para adicionar.
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal de Cadastro removido: agora existe uma tela dedicada em /mais/adicionabloco -->

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/bloco.css">
<script src="/bloco.js"></script>