<div class="formulario-reserva-sala">
  <h1 class="tituloSala">Cadastro de Bloco</h1>
  <form id="tipoMesaForm" action="/tipo-mesa/cadastrar" method="POST">
    <div class="formulario-ask">
      <label for="descricao">*Nome do bloco:</label>
      <input 
        type="text" 
        id="descricao" 
        name="descricao" 
        required
        placeholder="Ex: Bloco A, Bloco B, Bloco C"
      />
    </div>
    <div class="button-group">
      <button class="save-btn" type="submit">Salvar Bloco</button>
    </div>
  </form>
  
</div>

