<div class="dashboard">
    <div class="icon-grid">
        <!-- Linha 1 -->
        <a> <!-- vou colocar um hiperlink pra a página de gerenciar usuarios aqui --> 
            <div class="icon-item">
                <div class="icon"><i class="bi bi-people-fill"></i></div>
                <div class="icon-label">Usuários</div>
            </div>
        </a>
        <div class="icon-item">
            <div class="icon"><i class="bi bi-door-open"></i></div>
            <div class="icon-label">Salas</div>
        </div>
        
        <!-- Linha 2 -->
        <div class="icon-item">
            <div class="icon"><i class="bi bi-building"></i></div>
            <div class="icon-label">Blocos</div>
        </div>
        <div class="icon-item">
            <div class="icon"><i class="bi bi-layers"></i></div>
            <div class="icon-label">Andares</div>
        </div>
        
        <!-- Linha 3 -->
        <div class="icon-item">
            <div class="icon"><i class="bi bi-calendar-check"></i></div>
            <div class="icon-label">Reservas</div>
        </div>
        <div class="icon-item">
            <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
            <div class="icon-label">Emitir Histórico Geral</div>
        </div>
                <!-- Linha 4 - Novos itens -->
        <a href="/tipoMesa">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-collection"></i></div>
                <div class="icon-label">Tipo de Mesa</div>
            </div>
        </a>
        
        <a href="/tipoSala">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-door-closed"></i></div>
                <div class="icon-label">Tipo de Sala</div>
            </div>
        </a>
    </div>
</div>
