<div class="dashboard">
    <div class="icon-grid">
        <!-- Linha 1 -->
        <a href="usuariosadm"> <!-- vou colocar um hiperlink pra a página de gerenciar usuarios aqui --> 
            <div class="icon-item">
                <div class="icon"><i class="bi bi-people-fill"></i></div>
                <div class="icon-label">Usuários</div>
            </div>
        </a>
        <a href="/salas/gerenciarsalas">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-door-open"></i></div>
                <div class="icon-label">Salas</div>
            </div>
        </a>
        <!-- Linha 2 -->
        <a href="/bloco">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-building"></i></div>
                <div class="icon-label">Blocos</div>
            </div>
        </a>
        <a href="/andares">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-layers"></i></div>
                <div class="icon-label">Andares</div>
            </div>
        </a>

        <!-- Linha 3 -->
        <div class="icon-item">
            <div class="icon"><i class="bi bi-calendar-check"></i></div>
            <div class="icon-label">Reservas</div>
        </div>
        <div class="icon-item">
            <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
            <div class="icon-label">Emitir Histórico</div>
        </div>
                <!-- Linha 4 - Novos itens -->
        <a href="/tipoMesa">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-collection"></i></div>
                <div class="icon-label">Tipo de Mesa</div>
            </div>
        </a>
        
        <a href="/tipoSala">
            <div class="icon-item">
                <div class="icon"><i class="bi bi-door-closed"></i></div>
                <div class="icon-label">Tipo de Sala</div>
            </div>
        </a>
    </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/bloco.css">
<script src="/javascripts/bloco.js"></script>