<div class="formulario-reserva-sala">
  <h1 class="tituloSala">Cadastro de tipo de Sala</h1>
  <form id="tipoMesaForm" action="/tipo-Sala/cadastrar" method="POST">
    <div class="formulario-ask">
      <label for="descricao">*Tipo de sala:</label>
      <input 
        type="text" 
        id="descricao" 
        name="descricao" 
        required
        placeholder="Ex: Sala de aula, Auditório, Laboratório"
      />
    </div>
    <div class="button-group">
      <button class="save-btn" type="submit">Salvar tipo de sala</button>

    </div>
  </form>
</div>