<div class="formulario-reserva-sala">
  <h1 class="tituloSala">Cadastro de Tipo de Mesa</h1>
  <form id="tipoMesaForm" action="/tipoMesa" method="POST">
    <div class="formulario-ask">
      <label for="descricao">*Nome da Mesa:</label>
      <input 
        type="text" 
        id="descricao" 
        name="descricao" 
        required
        placeholder="Ex: Mesa redonda de 8 lugares"
      />
    </div>
    <div class="button-group">
      <button class="save-btn" type="submit">Salvar Tipo de Mesa</button>
    </div>
  </form>
  <ul>
    {{#each mesas}}
      <li>{{descricao}}</li>
    {{/each}}
</div>