<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.btn-delete').forEach(function(btn) {
    btn.addEventListener('click', function(e) {
      if (!window.confirm('Tem certeza que quer excluir?')) {
        e.preventDefault();
      }
    });
  });
});
</script>
<div class="container">
  <div class="header">
    <div class="title-container">
      <h1><i class="fas fa-door-open"></i> Gerenciador de tipo de sala</h1>
        <a href="/mais/adicionatiposala" class="btn-add" id="btnAddTipoSala" title="Adicionar tipo de sala">
          <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Tipo de Sala</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#if tipoSalas.length}}
          {{#each tipoSalas}}
            <tr>
              <td>{{this.descricao}}</td>
              <td class="actions">
                <a href="editarTipoSala/{{id_tipo}}" class="btn-action btn-edit">
                            <i class="fas fa-edit"></i>
                            <span>Editar</span>
                        </a>
                        <a href="excluirTipoSala/{{id_tipo}}" class="btn-action btn-delete" >
                            <i class="fas fa-trash-alt"></i>
                            <span>Excluir</span>
                        </a>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr class="empty-message-row">
            <td colspan="2" class="empty-message">
              Nenhum tipo de sala cadastrado. Clique no botão
              <i class="fas fa-plus"></i>
              para adicionar.
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/tipoSala.css">
<script src="/tipoSala.js" defer></script>